{{ define "main" }}
  <main>
    <div class="h-[70vh] relative px-[6vw]">
      <h1 class="page-title absolute bottom-24">
        Designer at <a href="https://railway.com">Railway</a><br />
        <span class="opacity-15">Curious and stubborn</span>
      </h1>
    </div>

    <ul
      class="grid grid-cols-1 md:grid-cols-2 border-t border-r border-solid border-black/5"
      id="posts-container"
    >
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
      {{ range $paginator.Pages }}

        {{ .Render "summary" }}

      {{ end }}
    </ul>
  </main>
{{ end }}
