@import url("type.css");
@import url("variables.css");

*,::after,::before{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}p{text-wrap:pretty}h1,h2,h3,h4,h5,h6{text-wrap:balance}#__next,#root{isolation:isolate}

body {
  margin: 0 auto;
  font-family: var(--font-family-sans);
  font-size: var(--font-base);
  line-height: 1.55;
  background: var(--color-background);
  color: var(--color-foreground);
}

header a.active {
  background-color: var(--color-bg-light);
}

.mono { font-family: "Jetbrains Mono"; }
.sans { font-family: var(--font-family-sans); }
.serif { font-family: var(--font-family-serif); }
.small {
  font-size: var(--font-size-smaller);
  letter-spacing: 0.0125em;
}
.large {
  font-size: var(--font-size-larger);
  font-family: var(--font-family-sans);
  line-height: 150%;
  margin-bottom: .5em;
}



main,
.long-form h1 {
  margin-bottom: calc(10vw + 4rem);
}

article h3 a {
  font-weight: 600;
  text-decoration: none;
}

/* Single Page */

h1 {
  font-size: clamp(2rem, 6vw + 1rem, 6.25rem);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.0375em;
}

hr {
  border: none;
  border-top: 1px solid var(--color-border-light);
  background-color: transparent;
  height: 1px;
  margin: 48px auto;
  max-width: 800px;
}

h3 {
  font-size: var(--font-size-larger);
}

h4 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

h5 {
  font-size: var(--font-size-small);
  font-weight: 700;
}

h6 {
  font-size: var(--font-size-smaller);
  font-weight: 800;
  text-transform: uppercase;
}

em { font-style: italic; }

.long-form h1,
.long-form h2,
.long-form h3,
.long-form h4,
.long-form h5,
.long-form h6,
.long-form p,
.long-form ul,
.long-form ol,
.long-form img,
.long-form pre {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  /* letter-spacing: -0.0125em; */
  /* margin-bottom: 1rem; */
}

.page-title h1 {
  max-width: 20ch;
  margin-left: -.05em;
}

.long-form h2 {
  font-size: var(--font-size-largest);
  letter-spacing: -0.00625em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: .375em;
}
.long-form h3 {
  font-size: var(--font-size-larger);
  letter-spacing: -0.00625em;
  margin-top: 1.5em;
  margin-bottom: .375em;
}

.long-form h4 {
  font-size: var(--font-size-large);
  letter-spacing: -0.00625em;
  margin-top: 1.5em;
  margin-bottom: .375em;
}

.long-form p {
  font-family: var(--font-family-sans);
  letter-spacing: -0.00625em;
  margin-bottom: 1em;
  opacity: 0.8;
}

.long-form h5 {
  font-size: var(--font-base);
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 600;
}

.long-form h6 {
  font-size: var(--font-size-smaller);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.0375em;
  margin-top: 2em;
  margin-bottom: 1.125em;
}

.long-form ul,
.long-form ol {
  margin-bottom: 32px;
}
.long-form ul li,
.long-form li,
.long-form li ul,
.long-form li ol {
  /* margin-top: 4px; */
  margin-bottom: 8px;
}

.long-form li {
  list-style-position: inside;
  list-style-type: square;
}

.long-form blockquote p {
  font-family: var(--font-family-sans);
  line-height: var(--line-height-md);
  font-size: var(--font-size-large);
  max-width: 800px;
  padding-left: 24px;
  border-left: 3px solid var(--color-foreground);
  margin: 32px auto;
}

.long-form img {
  max-width: 100%;
  border-radius: 8px;
  margin: 40px 0px;
  margin-left: auto;
  margin-right: auto;
}

.long-form p code {
  background-color: var(--color-bg-lightest);
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 87.5%;
  margin-right: 4px;
  margin-left: 4px;
}

.long-form pre code {
  background-color: none;
}

.long-form pre {
  margin-bottom: 1.25em;
}

.long-form .inline-img {
  width: 100%;
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}



pre {
  background-color: var(--color-bg-lightest);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 87.5%;
}



h5 + h4 {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: red;
    color: #ffffff;
  }
}

body {
  /* background-color: #ffffff; */
  transition:
    background-color 0.5s ease,
    color 0.25s ease;
}

/* Dark mode based on system preference */

/* Manual light and dark modes */
body.light {
  --color-foreground: black;
  --color-background: white;
  --color-bg-lightest:   hsla(0, 100%, 0%, 0.05);
  --color-bg-light:      hsla(0, 100%, 0%, 0.1);
  --color-border-light:  hsla(0, 100%, 0%, 0.08);
}

body.dark {
  --color-foreground: white;
  --color-background: #12121a;
  --color-bg-lightest:   hsla(0, 100%, 100%, 0.05);
  --color-bg-light:      hsla(0, 100%, 100%, 0.1);
  --color-border-light:  hsla(0, 100%, 100%, 0.05);
}

/* Add basic styles for the icons */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-foreground);
}

#theme-toggle i {
  transition: opacity 0.3s ease; /* Smooth icon transitions */
}

.banner {
  background-color: var(--color-bg-lightest);
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 48px;
  color: var(--color-foreground);
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}