@import url("type.css");
@import url("variables.css");

/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  /* max-width: 1320px; */
  margin: 0 auto;
  /* padding: 64px; */
  font-family: var(--font-family-sans);
  font-size: var(--font-base);
  line-height: 1.55;
  background: var(--color-background);
  color: var(--color-foreground);
}

a {
  color: white;
}

header a.active {
  background-color: hsla(0, 0%, 100%, 0.25);
  color: #fff;
}

.mono {
  font-family: "Jetbrains Mono";
}

main,
.long-form h1 {
  margin-bottom: calc(10vw + 4rem);
}

article .meta {
  min-width: 180px;
}

article h3 a {
  font-weight: 600;
  text-decoration: none;
}

article img {
  margin-top: 24px;
}
*/

/* Single Page */

.page-title {
  margin-bottom: 64px;
}

/* .page-title */
h1 {
  font-size: clamp(2rem, 6vw + 1rem, 8rem);
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 112.5%;
  letter-spacing: -0.0375em;
}

.hero h1 {
  /* text-indent: 16vw; */
  line-height: 100%;
}

hr {
  border: none;
  border-top: 1px solid hsla(0, 100%, 100%, 0.15);
  color: #999;
  background-color: transparent;
  height: 1px;
  margin: 48px auto;
  max-width: 800px;
}

h3 {
  font-size: var(--font-size-larger);
}

h4 {
  font-size: var(--font-size-large);
  font-weight: 700;
}

h5 {
  font-size: var(--font-size-small);
  font-weight: 700;
}

h6 {
  font-size: var(--font-size-smaller);
  font-weight: 800;
  text-transform: uppercase;
}

.long-form h1,
.long-form h2,
.long-form h3,
.long-form h4,
.long-form h5,
.long-form h6,
.long-form p,
.long-form ul,
.long-form ol,
.long-form img,
.long-form pre {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* letter-spacing: -0.0125em; */
  /* margin-bottom: 1rem; */
}

.page-title h1 {
  /* font-size: clamp(2rem, 4vw + 1rem, 5rem); */
  max-width: 20ch;
}

.long-form h2 {
  font-size: var(--font-size-larger);
  margin-bottom: 0.675em;
}
.long-form h3 {
  font-size: var(--font-size-larger);
  margin-top: 32px;
  margin-bottom: 20px;
}

.long-form h4 {
  font-size: var(--font-size-large);
  margin-top: 32px;
  margin-bottom: 16px;
}

.long-form p {
  font-family: var(--font-family-sans);
  line-height: 1.65;
  letter-spacing: 0;
  margin-bottom: 16px;
  opacity: 0.9;
}

.long-form h5 {
  font-size: var(--font-size-small);
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 600;
  opacity: 0.45;
}

.long-form h6 {
  font-size: var(--font-size-smaller);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.0375em;
  margin-top: 48px;
  margin-bottom: 12px;
}

.long-form ul,
.long-form ol {
  margin-bottom: 32px;
}
.long-form ul li,
.long-form li,
.long-form li ul,
.long-form li ol {
  /* margin-top: 4px; */
  margin-bottom: 8px;
}

.long-form li {
  list-style-position: inside;
  list-style-type: square;
}

.long-form p.large {
  font-size: var(--font-size-large);
  font-family: var(--font-family-sans);
  line-height: 150%;
  margin-bottom: 16px;
}

p.sans {
  font-family: var(--font-family-sans);
}

p.small {
  font-size: var(--font-size-smaller);
  font-family: var(--font-family-sans);
  letter-spacing: 0.0125em;
}

p.row {
  padding-top: 16px;
  border-top: 1px solid hsla(0, 100%, 100%, 0.2);
}

.long-form blockquote p {
  font-family: var(--font-family-sans);
  line-height: var(--line-height-md);
  font-size: var(--font-size-large);
  max-width: 800px;
  padding-left: 24px;
  border-left: 3px solid white;
  margin: 32px auto;
}

.long-form img {
  max-width: 100%;
  border-radius: 8px;
  margin: 40px 0px;
}

.long-form p code {
  background-color: hsla(0, 100%, 100%, 0.12);
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 87.5%;
  margin-right: 4px;
  margin-left: 4px;
}

.long-form pre code {
  background-color: none;
}

.long-form .inline-img {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.serif {
  font-family: var(--font-family-serif);
}

pre {
  background-color: hsla(0, 100%, 100%, 0.05);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 87.5%;
}

.col-left,
.col-right {
  width: calc(50% - 8px);
}

em {
  font-style: italic;
}

.long-form .image-tiny {
  max-width: 320px;
}

h5 + h4 {
  margin-top: 0px !important;
  margin-bottom: 0px;
}

/* .js-toggle-wrapper {
  display: table;
}

.js-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.js-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.js-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: hsl(222, 14%, 7%);
  transition: all 0.2s ease;
}

.js-toggle-track-check {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-check {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle-track-x {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 5px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  opacity: 1;
  transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-x {
  opacity: 0;
}

.js-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translateX(0);
}

.js-toggle--checked .js-toggle-thumb {
  transform: translateX(26px);
  border-color: #19ab27;
}

.js-toggle--focus .js-toggle-thumb {
  box-shadow: 0px 0px 2px 3px rgb(255, 167, 196);
}

.js-toggle:active .js-toggle-thumb {
  box-shadow: 0px 0px 5px 5px rgb(255, 167, 196);
}

body.light-mode,
body.light-mode main * {
  --color-background: #0eb64c;
  --color-foreground: black;
} */

/* body.light {
  background-color: #ffffff;
  color: #000000;
}
body.dark {
  background-color: #000000;
  color: #ffffff;
} */

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: red;
    color: #ffffff;
  }
} */

body {
  background-color: #ffffff;
  color: #000000;
  transition:
    background-color 0.5s ease,
    color 0.25s ease;
}

/* Dark mode based on system preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000000;
    color: #ffffff;
  }
}

/* Manual light and dark modes */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
  --color-foreground: blue;
  --color-background: red;
}

/* Add basic styles for the icons */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#theme-toggle i {
  transition: opacity 0.3s ease; /* Smooth icon transitions */
}
