{{ define "main" }}

<ul class="gap-2 px-40">
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "bookmarks") }}
  {{ range $paginator.Pages }}

    <!-- {{ .Render "summary" }} -->
    <li class="mb-24">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      <p class="opacity-45 mb-8 max-w-xl">
        {{ .Summary }} {{ if .Truncated }}
        <a href="{{ .Permalink }}">Read more...</a>
        {{ end }}
      </p>
      
      {{ .Content }}  
      
    </li>

  {{ end }}
</ul>

{{ end }}
