<header class="flex items-center justify-between">
  <div class="flex items-center gap-3">
    <a class="logo" href="{{ .Site.BaseURL }}">
      <img
        class="w-9 min-w-9 rounded-full border border-white"
        src="{{ .Site.BaseURL }}img/avatar.png"
      />
      <!-- {{ .Site.Title }} -->
    </a>

    <div class="flex gap-1">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a
          class="p-2 px-4 text-base font-[600] transition ease-in-out duration-200 rounded-full {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            active
          {{ end }}
        "
          href="{{ .URL }}"
          title="{{ .Title }}"
          >{{ .Name }}</a
        >
      {{ end }}
    </div>
  </div>

  {{ partial "theme-switcher.html" }}
</header>
