<header class="flex items-center justify-between">
  <div
    class="glass-container flex items-center gap-2 py-3 px-4 rounded-full relative"
  >
    <!-- Sliding background indicator -->
    <div class="nav-indicator"></div>

    <a class="logo relative z-10 p-1" href="{{ .Site.BaseURL }}" data-nav-item>
      <img
        class="w-7 min-w-7 rounded-full border border-white"
        src="{{ .Site.BaseURL }}img/avatar.png"
      />
      <!-- {{ .Site.Title }} -->
    </a>

    <div class="flex gap-0 relative z-10">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a
          class="p-2 px-4 text-base font-[600] transition ease-in-out duration-200 rounded-full {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            active
          {{ end }}
        "
          href="{{ .URL }}"
          title="{{ .Title }}"
          data-nav-item
          >{{ .Name }}</a
        >
      {{ end }}
    </div>
  </div>

  {{ partial "theme-switcher.html" }}
</header>
