{{ define "main" }}
	<main class="px-[8vw] pt-[4vw]">
      <div class="page-title mb-[4vw]">
        <div class="text-xl mb-6 opacity-45">
			<time class="mono" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "2006.01.02" }}</time>
		</div>
		<h1>{{ .Title }}</h1>
      </div>
		<div class="long-form">
			{{ .Content }}
		</div>
		{{ with .Params.tags }}
		<div>
			<ul id="tags">
				{{ range . }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
		</div>
		{{ end }}
	</main>
  
{{ end }}
